<%= provide(:title, 'Create a Referral') %>
<h1>Create a Referral</h1>
     
       <h2><%= @attorney.full_name  %><span class="arrow-e"></span><%= @referred_to_attorney.full_name  %> </h2>
     
<div class="row">
  <div class="span6 offset3">   

  
    <%= form_for [@attorney, @referral] do |r| %>
      
      <%= render 'shared/error_messages',  object: @referral%>
      
      <%= hidden_field_tag  :referred_to_attorney_id, @referred_to_attorney.id %>
      
      <%= r.label :client_first_name, "Client's first name" %>
      <%= r.text_field :client_first_name %>     
       
      <%= r.label :client_last_name, "Client's last name" %>
      <%= r.text_field :client_last_name %> 
      
      <%= r.label :client_email, "Client's email" %>
      <%= r.text_field :client_email %> 
      
      <%= r.label :client_phone, "Client's phone number" %>
      <%= r.text_field :client_phone %>
       
      <%= r.label :public_comments, "Details of Referred Case" %>
      <%= r.text_field :public_comments %>

      <%= r.label :private_comments, "Optional: Private Comments (only visible to you)" %>
      <%= r.text_field :private_comments %>

      <%= r.submit "Create referral", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

