<% provide(:title, @attorney.name) %>

<div class="container-fluid">
  <div class="row-fluid">
    <aside class="span4">
        <section>
          <!-- <%= gravatar_for @attorney, { size: 100 }%> -->
          <img src="/assets/danny_ferry.jpg" style="max-width:200px;"  border="0" />
        </section>
        <section>
          <h1><%= @attorney.name %></h1>
          <h2> <%=@attorney.professional_experiences.first.position %><br>
          Philadelphia, PA 19103</h2>
        </section>
        
    <%= render '/shared/attorney_buttons' %>
        
        
    </aside>
    
    

    
    <div class="span8">
      <div class="row-fluid">
        <div class = "span12"  >
              <table class = "table" style="width: 55em; height: 10em;  border: 1em solid white;">
                    <caption style="text-align: left">
                    <h3>Recent Professional Experience </h3>
                        <% if @attorney.professional_experiences.size > 2 %>
                         <a  data-toggle="modal" href="#myModal" >View All</a>
                        <% end %> </caption>
                  <thead>
                    <tr>
                      <th> Employer </th>
                      <th> Location </th>
                      <th> Position </th>
                      <th> Time Period</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @attorney.professional_experiences.all(limit: 2).each do |experience| %>    
                    <tr>
                      <td><%= experience.name %></td>
                      <td><%= experience.location %></td>
                      <td><%= experience.position %></td>
                      <td><%= experience.formatted_start_date%> to <%= experience.formatted_end_date %></td>
                    </tr>
                    <% end %>
                    
                    <% if current_attorney?(@attorney) %>
                      <tr>
                        <td> <%= link_to "Add a professional_experience", new_professional_experience_path %> </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
        </div>   
      </div> <!-- row -->

    
      <div class="row-fluid">
        <div class = "span12" style="width: 40em; height: 10em;border: 1em solid white;">
                <table class = "table">
                  <thead>
                    <caption style="text-align: left"><h3>Academic Experience<h3></caption>
                    <tr>
                      <th> Second Firm </th>
                      <th> Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>…</td>
                      <td>…</td>
                    </tr>
                  </tbody>
                </table>
        </div>
      </div> <!-- row -->
      
      <div class="row-fluid">
        <div class = "span12" style="width: 40em; height: 10em;  border: 1em solid white;">Expertise</div>
      </div> <!-- row -->
      
      <div class="row-fluid">
        <div class = "span12" style="width: 40em; height: 10em;  border: 1em solid white;">Representative Cases</div>
      </div> <!-- row -->
       
    </div>
  </div>
</div>


    

    <div class="modal hide fade" id="myModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>All Professional Experiences</h3>
      </div>
          <div class="modal-body">
            <table class = "table" style="width: 55em; height: 10em;  border: 1em solid white;">
                <thead>
                    <tr>
                      <th> Employer </th>
                      <th> Location </th>
                      <th> Position </th>
                      <th> Time Period</th>
                    </tr>
                </thead>
                <tbody>
                  <% @attorney.professional_experiences.each do |experience| %>    
                  <tr>
                    <td><%= experience.name %></td>
                    <td><%= experience.location %></td>
                    <td><%= experience.position %></td>
                    <td><%= experience.formatted_start_date%> to <%= experience.formatted_end_date %></td>
                  </tr>
                  <% end %>
                  
                </tbody>
            </table>
          </div>
      </div>
    </div>




